* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gotham Pro';
}

a {
    text-decoration: none;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

button,
button:active,
button:focus  {
  border:none;
}

.header {
    height: 957px;
    width: 100%;
    background-image: url(../img/Rectangle.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

/*HEADER MENU*/

.menu-wraper {
    display: flex;
    height: 93px;
    padding: 34px 0 26px 0;
    align-items: center;
    justify-content: space-between;
    
}

.menu-items {
    font-family: 'Gotham Pro';
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 85px;
}

.menu-items:hover { 
    color: #FED233;
}

.logo {
    text-transform: uppercase;
}

.logo-pro {
    color: #FFFFFF;
    font-family: 'Gotham Pro';
    font-size: 24px;
    line-height: 39px;
}

.logo-code {
    color: #FED233;
    font-family: 'Gotham Pro';
    font-size: 24px;
    line-height: 39px;
}

.line-top {
    margin: 0px auto;
    width: 95%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow-x: hidden;
}

/*HEADER DISCRIPTION*/

.header-descr-logo-wraper {
    display: grid;
    grid-template-columns: 580px 290px;
    grid-template-rows: 180px;
    margin: 267px 0 96px 0;
    column-gap: 240px;
}

.header-descr-title {
    font-family: 'Gotham Pro';
    font-size: 40px;
    line-height: 66px;
    color: #FFFFFF;
}

.header-descr-line {
    width: 133px;
    height: 0px;
    margin: 15px 0 25px 0;
    border: 2px solid #FED233;
}

.header-descr-subtitle {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.logo-descr{
    display: block;
    padding-top: 25px;
}

.pro {
    margin-left: 80px;
}

.btn {
    display: block;
    text-decoration: none;
    height: 60px;
    width: 266px;
    background: #FED233;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    color: #333333;
    font-family: 'Gotham Pro';
    font-size: 14px;
    transition: transform 0.15s;
    text-align: center;
    padding: 22px 0 0 21px;
}

.img-button {
    padding: 0 25px 0 78px;
}

.btn:hover {
	background:linear-gradient(to bottom, #f1f519 5%, #fff34a 100%);
	background-color:#FED233;
}

.mouse-vector {
    display: block;
    margin: 183px auto 82px auto;
}

/*BLOCK ABOUT*/

.our-studio {
    background: #E5E5E5;
}

/*Our Services*/

.our-studio-title {
    font-family: 'Gotham Pro';
    font-size: 40px;
    line-height: 66px;
    color: #333333;
    padding-top: 135px;
    
}

.our-studio-discr {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 34px;
    color: #333333;
    margin: 15px 0 97px 0;
    
}

.our-studio-wraper-grid {
    display: grid;
    grid-template-columns: repeat(3, 347px);
    grid-template-rows: repeat(2, 292px);
    column-gap: 35px;
    row-gap: 34px;
    padding-bottom: 135px;
}

.our-studio-main-grid {
    background: #FFFFFF;
    border: 2px solid #FED233;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
     
}

.our-studio-img-Group1 {
    margin: 45px 134px 40px 134px;
}

.our-studio-img-Group2 {
    margin: 45px 134px 26px 134px;
}

.our-studio-img-Group3 {
    margin: 45px 134px 28px 134px;
}

.our-studio-img-Group4 {
    margin: 45px 134px 21px 134px;
}

.our-studio-img-Group5 {
    margin: 45px 134px 18px 134px;
    
}

.our-studio-img-Group6 {
    margin: 45px 134px 23px 134px;
}

.our-studio-h2 {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #4F4F4F;
    padding-bottom: 28px;
}

.our-studio-bottom {
    display: flex;
    align-items: center;
    
}

.our-studio-line {
    width: 306px;
    height: 0px;
    border: 1px solid #E0E0E0;
    margin: 0 auto 20px auto;
    
}

.our-studio-paragraph {
    display: block;
    font-family: 'Gotham Pro';
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #BDBDBD;
    margin: 0 187px 0 22px;
    
}

.our-studio-icon {
    display: block;
}

/*About studio*/

.about-studio {
    background-color: #F9FAFC;
}

.about-studio-wraper-grid {
    display: grid;
    grid-template-columns: repeat(3, 347px);
    grid-template-rows: 115px;
    column-gap: 35px;
    margin-bottom: 108px; 
}


.about-studio-h2 {
    font-family: 'Gotham Pro';
    font-size: 40px;
    color: #333333;
    margin-bottom: 15px;
    padding-top: 98px;
    
}

.about-studio-paragraph {
    font-family: 'Gotham Pro';
    font-size: 18px;
    width: 820px;
    line-height: 34px;
    color: #333333;
    margin-bottom: 59px;
    
}

.about-studio-header {
    font-family: 'Gotham Pro';
    font-size: 32px;
    color: #FED233;
    margin-bottom: 10px;
    
}

.about-studio-line {
    width: 320px;
    border: 1px solid #BDBDBD;
    margin-bottom: 5px;
    
}

.about-studio-subheader {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 34px;
    color: #828282;
    
}

/*FEEDBACK*/

.feedback {
    background-image: url(../img/Rectangle.jpg);
    height: 607px;
    margin-bottom: 118px;
}

.feedback-h2 {
    font-family: 'Gotham Pro';
    padding: 110px 0 44px 0;
    font-size: 40px;
    color: #FFFFFF;
}

.textInput {
    display: block;
    padding: 15px;
    width: 460px;
    background: #FFFFFF;
    border-radius: 7px;
    outline: none;
    margin-bottom: 21px;
}

.telInput {
    display: block;
    padding: 15px;
    width: 460px; 
    background: #FFFFFF;
    border-radius: 7px;
    outline: none;
    margin-bottom: 20px;
}

.agree {
    font-family: 'Gotham Pro';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 14px;
}

.btn-contact {
    display: block;
    text-decoration: none;
    height: 60px;
    width: 266px;
    background: #FED233;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    color: #333333;
    font-family: 'Gotham Pro';
    font-size: 14px;
    transition: transform 0.15s;
    text-align: center;
    padding: 22px;
    margin-top: 55px;
}

.btn-contact:hover {
	background:linear-gradient(to bottom, #f1f519 5%, #fff34a 100%);
	background-color:#FED233;
}

.img-button-contact {
    margin-left: 130px;
}

/*TEHNOLOGIC*/

.tehnologic-title {
    font-family: 'Gotham Pro';
    font-size: 40px;
    line-height: 66px;
    color: #333333;
}

.tehnologic-discr {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 34px;
    color: #333333;
    margin-bottom: 87px;
}

.tehnologic-wraper-grid {
    display: grid;
    grid-template-columns: repeat(3, 347px);
    grid-template-rows: 250px;
    column-gap: 35px;
}

.tehnologic-header {
    font-family: 'Gotham Pro';
    font-size: 32px;
    color: #FED233;
    padding-bottom: 10px;
    
}

.tehnologic-line {
    width: 320px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 5px;
    
}

.tehnologic-subheader {
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 34px;
    color: #828282;
    margin-bottom: 124px;
}


/*FOOTER*/

.footer {
    height: 527px;
    background: #141414;
}

.footer-line {
    width: 133px;
    border-bottom: 2px solid #FED233;
    padding-bottom: 84px;
}

.footer-title { 
    display: flex;
    align-items: center;
    padding-top: 35px;
}

.footer-title > h2 { 
    font-family: 'Gotham Pro';
    font-size: 40px;
    color: #FFFFFF;
}

.footer-title > img { 
    margin-left: 23px;
    height: 46px;
    padding-top: 15px;
}

.footer-btn {
    display: block;
    text-decoration: none;
    height: 60px;
    width: 266px;
    background: #FED233;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    color: #333333;
    font-family: 'Gotham Pro';
    font-size: 14px;
    transition: transform 0.15s;
    text-align: center;
    padding: 22px 0 0 21px;
    margin-top: 32px;
}

.footer-mail {
    display: block;
    width: 20px;
    font-family: 'Gotham Pro';
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 36px;
}

.footer-tel {
    display: block;
    width: 230px;
    font-family: 'Gotham Pro';
    font-size: 24px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 10px 0 80px 0;
}

.line-bottom {
    margin: 0px auto;
    width: 95%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow-x: hidden;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.footer-bottom > a {
    font-family: 'Gotham Pro';
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}


